*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    margin: 0 auto; 
    width: 1440px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    width: 1375px;
    justify-content: space-between;
    margin: 32px 32px 16px 32px;
}

.h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    color: #3F3F3F;
}

.default{
    font-size: 12px;
    line-height: 15px;
    color: #B4B4B4;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: url(./cursor.png), pointer;
}

.arrow__down{
    background-image: url(./arrow__down.png);
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.layout{
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;

}

.shop{
    width: 332px;
    height: 440px;
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 24px;
    margin-right: 16px;
}

.shop__p{
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: black;
    margin-bottom: 4px;
    position: relative;
}

.required::after{
    content: "*";
    color: red;
}

.shop__placeholder{
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    padding: 10px 16px;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline:hidden;
    margin-bottom: 16px;
    border: none;
    width: 100%;
}

input:focus,
textarea:focus{
    outline: none;
    font-size: 12px;
    line-height: 15px;
    width: 100%;

}

::placeholder{
    color: #b4b4b4;
}

.textarea{
    width: 100%;
    min-height: 108px;
    resize: none;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    padding: 10px 16px;
    border: none;
    margin-bottom: 16px;
}

.shop__btn{
    width: 284px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #EEEEEE;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 24px;
    border: none;
    background: #7BAE73;
    margin-top: 8px;
}



.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.card__item{
    width: 332px;
    height: 423px;
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.card__item--foto{
    width: 332px;
    height: 200px;
    background-image: url(./foto.png);
    border-radius: 4px 4px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__item--text{
    padding: 16px;
}

.card__item--name{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #3F3F3F;
    margin-bottom: 16px;
}

.card__item--description{
    font-size: 16px;
    line-height: 20px;
    color: #3F3F3F;
    max-width: 300px;
    margin-bottom: 32px;
}

.card__item--price{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3F3F3F;
}

.card__item--card:hover ~ .card__item--delete{
    background-image: url(./delete.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -11px;
    left: 310px;
}



@media (max-width: 1440px) {
    .card{
        grid-template-columns: 1fr 1fr;
    }

    .header{
        width: 1028px;
    }
}